@import "tailwindcss";

html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px; /* Compensa o header fixo */
}

/* Estilo para seções */
section {
  scroll-margin-top: 80px; /* Igual ao scroll-padding-top */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
